* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Handjet', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.handjet-font {
  font-family: 'Handjet', monospace;
}

.cabin-sketch-font {
  font-family: 'Cabin Sketch', cursive;
} 